__pycache__/
.env
.env.trakt_token
*.pyc
*.pyo
*.pyd
.Python
env/
build/
dist/
*.egg-info/
.vscode/
.idea/
.DS_Store
*.pt
./faiss_index/*
*.index
*.npy
/faiss_index/rebuild.log

# Streamlit
.streamlit/secrets.toml

# Logs
backend.log
frontend.log
*.log

# Mongo
mongo_dumps/*
tools/mongo_local_to_atlas.py
